<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>125024595843-omhuqof1tcddkkt01ubpu3mmcorchcfa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.125024595843-omhuqof1tcddkkt01ubpu3mmcorchcfa</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>125024595843-oqn43std6pujd68876hsetf2budkoasg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBnegStyc6a7yLl-jigdB_3mhFF7TEGuEc</string>
	<key>GCM_SENDER_ID</key>
	<string>125024595843</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jaysisharma.tradepact</string>
	<key>PROJECT_ID</key>
	<string>tradepact-bcb22</string>
	<key>STORAGE_BUCKET</key>
	<string>tradepact-bcb22.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:125024595843:ios:e54449a793c234813810b6</string>
</dict>
</plist>